$light-grey: #f2f2f2;
$dark-grey: #1a1a1a;
body{
  font-family: 'Open Sans', sans-serif;
}
.gantt-task-info{
  color:black;
}
.white{
  color:white;
}
.gantt-row-milestone{
  &.black{
    color: lighten(black, 20);
  }
}

.gantt-row-milestone{
  &.white{
    color: white;
  }

}

.black{
  color:lighten(black, 20);
}
.search {
    margin-left: 10px;
}
.deleteConfirmation {
    .btn {
        border-radius: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }
}
.dropdown-menu {
    position: fixed;
    z-index: 1060;
}
.color-picker-wrapper {
    position: fixed;
    height: 40px;
    .color-picker-input-wrapper {
        height: 100%;
    }
}
.edit-panel-box {
    height: 200px;
    width: 100%;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #468847;
    color: #468847;
}
.alert-error {
    background-color: #f2dede;
    border-color: #b94a48;
    color: #b94a48;
}
.alert.center {
  text-align: center;
  right: 0px;
  top: 200px;
  left: 0px;

  //margin-bottom: 250px;
}
.btn-info.active {
    background-color: limegreen;
    }
.btn_red.active {
  background-color: red;
   }
.aside {
    position: fixed;
    z-index: 9999;
    overflow: hidden;
    min-width: 320px;
    width: 100%;
    min-height: 230px;
    height: 25%;
    max-height: 250px;
    background: white;
    .edit-panel-wrapper {
        position: relative;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 100%;
        .col-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            min-width: 250px;
            &.option-block {
                float: left;
            }
            &.button-block {
                overflow: hidden;
                width: auto;
            }
            &.medium{
                width: 300px;
            }
            &.big {
                width: 500px;
            }
            height: 100%;
            .col-header {
                background-color: #888;

                width: 100%;
                height: 22px;
                margin: 0 0 4px;
                padding-left: 8px;
                font-family: 'Open Sans', sans-serif;
                font-weight: bold;
                font-size: 15px;
                line-height: 24px;
                max-width: none;
                overflow: hidden;
                box-shadow: 0 1px 1px #999;
                &.black{
                  color: $dark-grey;
                }
                &.white{
                  color: #fff;
                }
            }
            .col-field-wrapper {
                display: flex;
                flex-direction: row;
                padding: 5px 5px 0 10px;
                width: 100%;
                .form-group {
                    margin-right: 5px;
                    .color-wrapper {
                        display: flex;
                        flex-direction: row;
                        overflow: hidden;
                        justify-content: flex-start;
                        align-items: flex-start;
                        width: 100%;
                        .sample-color {
                            display: flex;
                            flex-direction: row;
                            overflow: hidden;
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-wrap: wrap;
                            .color-slot {
                                width: 20px;
                                height: 20px;
                                border: 1px solid black;
                            }
                        }
                        .custom-color {
                            padding: 1px;
                        }
                        .btn-next-palette{
                            width: 40px;
                            height: 60px;
                        }
                    }
                    .btn {
                        border-radius: 0;
                        height: 28px;
                        width: 100px;
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                    }
                }
            }
        }
    }
}
