<div class="aside" tabindex="-1" role="dialog" ng-clock>
    <div class="edit-panel-wrapper">
        <div class="col-wrapper option-block medium">
            <div class="col-header" ng-class="asideTask.model.classes" style="background-color: {{asideTask.model.color}};">
                {{asideTask.row.model.height===undefined?'TASK':'PLAN'}}
            </div>
            <div class="col-field-wrapper">
                <div class="form-group">
                    <label>LABEL</label>
                    <input type="text" class="form-control" ng-model="asideTask.model.name">
                </div>
            </div>
            <div class="col-field-wrapper" ng-if="asideTask.row.height===undefined">
                <div class="form-group">
                    <label>PROJECT</label>
                    <br>
                    <button type="button" class="btn btn-default" style="width:220px;" ng-model="asideTask.model.project" data-html="1" data-toggle="true" bs-options="projectName.value as projectName.label for projectName in projectsName" data-placement="top-left" data-animation=""
                        data-placeholder="     " bs-select></button>

                </div>
            </div>
            <div class="col-field-wrapper">
                <div class="form-group" >
                    <label class="control-label">COLOR</label>
                    <div ng-hide="nextPalette" class="color-wrapper">
                        <div class="sample-color" style="width:200px;">
                            <div class="color-slot" ng-click="sampleColorsPicker.setTaskColor(sampleColor)" style="background-color:{{sampleColor}}" ng-repeat="sampleColor in sampleColorsPicker.sampleColors1"></div>
                        </div>
                        <div class="custom-color">
                          <button type="button" class="btn btn-default btn-next-palette" ng-click="nextPalette=!nextPalette" ><i class="fa fa-chevron-right" aria-hidden="true"></i></button>

                        </div>
                        <!-- <div class="custom-color">
                            <color-picker ng-model="color" color-picker-disabled="colorpicker.disabled" color-picker-format="colorpicker.format" color-picker-alpha="colorpicker.alpha" color-picker-swatch="colorpicker.swatch" color-picker-swatch-pos="colorpicker.swatchPos" color-picker-swatch-bootstrap="colorpicker.swatchBootstrap"
                                color-picker-pos="colorpicker.pos" color-picker-case="colorpicker.case" color-picker-swatch-only="colorpicker.swatchOnly" color-picker-inline="colorpicker.inline" color-picker-on-change="colorpicker.onColorChange($event,color)"></color-picker>
                        </div> -->


                    </div>
                    <div ng-hide="!nextPalette" class="color-wrapper">
                      <div class="custom-color">
                        <button type="button" class="btn btn-default btn-next-palette" ng-click="nextPalette=!nextPalette" ><i class="fa fa-chevron-left" aria-hidden="true"></i></button>

                      </div>
                        <div class="sample-color" style="width:200px;">
                            <div class="color-slot" ng-click="sampleColorsPicker.setTaskColor(sampleColor)" style="background-color:{{sampleColor}}" ng-repeat="sampleColor in sampleColorsPicker.sampleColors2"></div>
                        </div>

                        <!-- <div class="custom-color">
                            <color-picker ng-model="color" color-picker-disabled="colorpicker.disabled" color-picker-format="colorpicker.format" color-picker-alpha="colorpicker.alpha" color-picker-swatch="colorpicker.swatch" color-picker-swatch-pos="colorpicker.swatchPos" color-picker-swatch-bootstrap="colorpicker.swatchBootstrap"
                                color-picker-pos="colorpicker.pos" color-picker-case="colorpicker.case" color-picker-swatch-only="colorpicker.swatchOnly" color-picker-inline="colorpicker.inline" color-picker-on-change="colorpicker.onColorChange($event,color)"></color-picker>
                        </div> -->


                    </div>

                </div>


            </div>
        </div>
        <div class="col-wrapper option-block big" style="border-left-width: 1px; border-left-style: solid; border-left-color: rgba(88, 166, 123, 0.2);">
            <div class="col-header" ng-class="asideTask.model.classes" style="background-color: {{asideTask.model.color}};">
                DETAILS
            </div>
            <div class="col-field-wrapper">


                <div class="form-group">
                    <label class="control-label"><i class="fa fa-calendar"></i> START</label>
                    </br>
                    <input type="text" class="form-control" ng-model="asideTask.model.from" max-date="{{options.toDate}}" data-date-format="dd/MM/yyyy" start-date="{{options.currentDateValue.toString()}}" data-animation="" data-placement="top-left" start-week="1" placeholder="From"
                        bs-datepicker>

                </div>
                <!-- <div class="form-group">
                    <label class="control-label"><i class="fa fa-clock-o"></i> </label>
                    </br>
                    <input type="text" size="8" class="form-control" ng-model="asideTask.model.from" data-time-format="HH:mm" data-minute-step="15" data-animation="" data-placement="top-right" data-autoclose="1" placeholder="Time" bs-timepicker>
                </div> -->
                <div class="form-group">
                    <label class="control-label"><i class="fa fa-calendar"></i> END</label>
                    </br>
                    <input type="text" class="form-control" ng-model="asideTask.model.to" min-date="{{options.fromDate}}" data-date-format="dd/MM/yyyy" start-date="{{options.currentDateValue.toString()}}" data-animation="" data-placement="top-left" start-week="1" placeholder="To"
                        bs-datepicker>
                </div>
                <!-- <div class="form-group">
                    <label class="control-label"><i class="fa fa-clock-o"></i> </label>
                    </br>
                    <input type="text" size="8" class="form-control" ng-model="asideTask.model.to" data-time-format="HH:mm" data-minute-step="15" data-animation="" data-placement="top-right" data-autoclose="1" placeholder="Time" bs-timepicker>
                </div> -->


            </div>
            <!-- <div class="col-field-wrapper">

                <div class="form-group">
                    <label class="control-label">TASK ID</label>
                    <input type="text" class="form-control" ng-model="asideTask.model.id" style="width:300px;">
                </div>


            </div>
            <div class="col-field-wrapper">
                <div class="form-group">
                    <label class="control-label">ROW ID</label>
                    <input type="text" class="form-control" ng-model="asideTask.row.model.id" style="width:300px;">
                </div>
            </div> -->
            <div class="col-field-wrapper">
                <div class="form-group">
                    <label>PRIORITY</label>
                    <br>
                    <button type="button" class="btn btn-default" ng-model="asideTask.model.priorityLevel" data-html="1" data-toggle="true" bs-options="priorityLevel.value as priorityLevel.label for priorityLevel in selector.priorityLevels" data-placement="top-right" data-animation=""
                        data-placeholder="     " bs-select></button>

                </div>
                <div class="form-group">
                    <label>TYPE</label>
                    <br>
                    <button type="button" class="btn btn-default" ng-model="asideTask.model.type" data-html="1" data-toggle="true" bs-options="type.value as type.label for type in selector.types" data-placement="top-right" data-animation="" data-placeholder="     " bs-select></button>

                </div>

            </div>
        </div>
        <div class="col-wrapper option-block big">
            <div class="col-header" ng-class="asideTask.model.classes" style="background-color: {{asideTask.model.color}};">
                CUSTOM DATA FIELDS
            </div>


            <div class="col-field-wrapper">
                <div class="form-group">
                    <label>SUPERVISOR</label>
                    <tags-input ng-model="asideTask.model.supervisor"></tags-input>
                    <!-- <input type="text" class="form-control" ng-model="asideTask.model.supervisor"> -->
                </div>
                <div class="form-group">
                    <label>MARKETING</label>
                    <tags-input ng-model="asideTask.model.marketing"></tags-input>
                    <!-- <input type="text" class="form-control" ng-model="asideTask.model.marketing"> -->
                </div>
            </div>
            <div class="col-field-wrapper">
                <div class="form-group">
                    <label>MANDAY</label>
                    <input type="text" class="form-control" ng-model="asideTask.model.manday">
                </div>
            </div>

            <!-- <div class="col-field-wrapper">
                <div class="form-group">
                    <label>PRIORITY</label>
                    </br>
                    <select ui-select2 ng-model="asideTask.model.priority" data-placeholder="asideTask.model.priority" style="width:100px;">
                        <option value="frontend">Critical</option>
                        <option value="backend">High</option>
                        <option value="frontend">Medium</option>
                        <option value="frontend">Low</option>


                    </select>
                </div>
            </div> -->
            <!-- <div class="col-field-wrapper">
                <div class="form-group">
                    <label>PROGRESS</label>
                    <input type="text" class="form-control" ng-model="asideTask.model.progress">
                </div>
            </div> -->
            <!-- <div class="col-field-wrapper">
                <div class="form-group">
                    <label>TEAM</label>
                    </br>
                    <select ui-select2 ng-model="skillset" data-placeholder="select" style="width:100px;">
                        <option value=""></option>
                        <option value="backend">Backend</option>
                        <option value="frontend">Frontend</option>

                    </select>
                </div>
            </div> -->
        </div>
        <div class="col-wrapper button-block" style="border-left-width: 1px; border-left-style: solid; border-left-color: rgba(88, 166, 123, 0.2);width:22%;">
            <!-- bug row span-->
            <div class="col-header" ng-class="asideTask.model.classes" style="background-color: {{asideTask.model.color}};">

            </div>
            <div class="col-field-wrapper">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-danger" ng-disabled="!isValidDate(asideTask.model.from,asideTask.model.to)" ng-model="button.save" ng-click="taskSave(asideTask,'save');$hide()" bs-checkbox>Save</button>
                    <div confirm-delete-button on-confirm="taskDelete(asideTask);$hide()"></div>
                    <button type="button" class="btn btn-default" ng-model="button.cancel" ng-if="!asideTask.model.isNew" ng-click="cancel('task');$hide()" bs-checkbox>Cancel</button>

                </div>
            </div>


        </div>
    </div>
</div>
