<span>
      <i class="{{row.model.parent===''?'fa fa-plus-square-o':''}}" style="font-size:19px;color:#006699;{{row.model.parent===''?'':'margin-left:19px;'}}" ng-click="add()"></i>
      <i class="fa fa-minus-square-o" ng-hide="isDeleting" style="font-size:19px;color:#006699;" ng-click="startDelete()"></i>
      <i class="fa fa-minus-square-o" ng-show="isDeleting" style="font-size:19px;color:#d9534f;" ng-click="confirm()"></i>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
